.sidebar {
  background:#4F46E5;
  color: white;
  width: 100%; 
  min-width: 220px; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-right: 1px solid rgba(48, 48, 164, 0.2);
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(48, 48, 164, 0.2) transparent;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 10px;
}

.topSection {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0px;
  padding: 6px 6px;
}

.topSection div {
  background-color: rgba(48, 48, 164, 0.2);
  padding: 10px 30px;
  border-radius: 6px;
}


.logoWrapper {
  height: 50px;
  overflow: hidden;
  display: none;
  align-items: center;
  width: 100%;
  display: none
}

.logo {
  width: 100%;
  height: auto;
  /* Increase until it looks right */
  transform: scale(1.2);
  /* Keep the zoom anchored to the left */
  transform-origin: center;
  margin-bottom: 0px;
}

.logoWrapper {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}






.navWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #cbd5e1;
  background-color: transparent;
  font-weight: 500;
}

.navItem:hover {
  transform: translateX(6px);
  color:#fff
}

.navItem.active {
  background-color: rgba(48, 48, 164, 0.2);
  color: #fff;
  font-weight: 600;
}

.icon {
  font-size: 18px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 15px;
}

@media (max-width: 850px) {
  .sidebar {
    width: 72px;
    min-width: 72px;
    padding: 20px 8px;
  }

  .label {
    display: none;
  }

  .icon {
    margin: 0 auto;
  }
}

  